<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ae916d">  <td>22/03/02 14:30:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Headerverify()[pri:5, instance:tests.SideMenu@68df9280]">Headerverify</td> 
  <td>main@1331270134</td>   <td></td> </tr>
<tr bgcolor="ae916d">  <td>22/03/02 14:30:44</td>   <td>102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Sidemenuaction()[pri:6, instance:tests.SideMenu@68df9280]">Sidemenuaction</td> 
  <td>main@1331270134</td>   <td></td> </tr>
<tr bgcolor="ae916d">  <td>22/03/02 14:30:44</td>   <td>112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Favorite()[pri:7, instance:tests.SideMenu@68df9280]">Favorite</td> 
  <td>main@1331270134</td>   <td></td> </tr>
<tr bgcolor="ae916d">  <td>22/03/02 14:30:44</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Available()[pri:8, instance:tests.SideMenu@68df9280]">Available</td> 
  <td>main@1331270134</td>   <td></td> </tr>
<tr bgcolor="ae916d">  <td>22/03/02 14:30:44</td>   <td>132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.FloatIn()[pri:9, instance:tests.SideMenu@68df9280]">FloatIn</td> 
  <td>main@1331270134</td>   <td></td> </tr>
<tr bgcolor="ae916d">  <td>22/03/02 14:30:44</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.FloatOut()[pri:10, instance:tests.SideMenu@68df9280]">FloatOut</td> 
  <td>main@1331270134</td>   <td></td> </tr>
<tr bgcolor="ae916d">  <td>22/03/02 14:30:44</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Reprint()[pri:11, instance:tests.SideMenu@68df9280]">Reprint</td> 
  <td>main@1331270134</td>   <td></td> </tr>
</table>
