<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.SideMenu</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Favorite</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Reprint</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FloatIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FloatOut</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Available</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Headerverify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Sidemenuaction</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tests.Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validlogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validloginsession</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>imagecheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>languagecheck</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
