<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95dea7">  <td>22/03/02 14:31:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Available()[pri:8, instance:tests.SideMenu@2cdd0d4b]">Available</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>22/03/02 14:31:02</td>   <td>-10047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Favorite()[pri:7, instance:tests.SideMenu@2cdd0d4b]">Favorite</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>22/03/02 14:31:22</td>   <td>10053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.FloatIn()[pri:9, instance:tests.SideMenu@2cdd0d4b]">FloatIn</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>22/03/02 14:31:32</td>   <td>20068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.FloatOut()[pri:10, instance:tests.SideMenu@2cdd0d4b]">FloatOut</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>22/03/02 14:31:01</td>   <td>-10796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Headerverify()[pri:5, instance:tests.SideMenu@2cdd0d4b]">Headerverify</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>22/03/02 14:31:42</td>   <td>30100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Reprint()[pri:11, instance:tests.SideMenu@2cdd0d4b]">Reprint</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>22/03/02 14:31:01</td>   <td>-10723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SideMenu.Sidemenuaction()[pri:6, instance:tests.SideMenu@2cdd0d4b]">Sidemenuaction</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>22/03/02 14:30:59</td>   <td>-13029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.imagecheck()[pri:1, instance:tests.Login@f381794]">imagecheck</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>22/03/02 14:30:59</td>   <td>-12979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.languagecheck()[pri:2, instance:tests.Login@f381794]">languagecheck</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>22/03/02 14:30:56</td>   <td>-16324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.setup()[pri:0, instance:tests.Login@f381794]">setup</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>22/03/02 14:30:59</td>   <td>-12940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.validlogin()[pri:3, instance:tests.Login@f381794]">validlogin</td> 
  <td>main@71706941</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>22/03/02 14:31:01</td>   <td>-11473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.validloginsession()[pri:4, instance:tests.Login@f381794]">validloginsession</td> 
  <td>main@71706941</td>   <td></td> </tr>
</table>
